#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
#MicroROS
build/
micro_ros_dev/
micro_ros_src/
esp32_toolchain.cmake
*.a
include
#VSCode
.VSCode
sdkconfig
sdkconfig.old